/* General form styling */
h3 {
  margin: 20px 0 20px 10%;

}

form {
  padding: 20px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: rgb(173, 102, 206);
  margin-left: 10%;
}
form > label {
  display: inline;
}

label > * {
  display: block;
  margin-bottom: 1rem;
}

label > input {
  height: 1.2rem;
  width: 10rem;
}

label > select {
  height: 1.8rem;
  width: 10.5rem;
}

form button {
  align-items:center;
  margin: auto;
}

/* Customer table div where tables/results are placed */

.cust-table-div {
  border-radius: 8px;
  background-color: rgba(133, 54, 125,1);
  border: 1px solid black;
  margin: 20px 0 20px 10%;
  width: 40%;
  margin-bottom: 1.2rem;
  position: relative;
}

.cust-table-div > * {
  margin-left: 1rem;
}

.cust-table-div > p > span {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* SVG 'X' delete icon styles */

.deleteIcon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.deleteIcon > circle:hover {
  fill: red;
}

.deleteIcon > circle {
  stroke: lightgrey;
  fill: lightgrey;
  stroke-width: 1.5px;
}

.deleteIcon > line {
  stroke: black;
  stroke-width: 2px;
}

/* "User xyz logged in as... styles */
.login__msg {
  margin-left: 80%;
  color: white;
  font-size: 0.8rem;
}

.username {
  color: blue;
}