@import url('https://fonts.googleapis.com/css2?family=Chango&family=Patrick+Hand+SC&family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: Montserrat, sans-serif;
  color: white;
}

/* Logo-related styles */

.logo {
  font-family: "Chango", cursive;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(235, 197, 28,1 );
  height: 1.75rem;
}

.tagline {
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.35rem;
  color: rgba(201, 168, 20, 1);
  margin-left: 0.25rem;
}

.logo__link {
  margin-right: auto;
}

/* Header styles */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

a {
   text-decoration: none;
   cursor: pointer;
}

ul {
  list-style: none;
}

button {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  color: rgba(235, 197, 28,1 );
  background-color: rgba(133, 54, 125,1);
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(133, 54, 125, 0.6);
}

img {
  align-items: center;
  padding: 10px 10%;
  width: 100%;
}

/* Body/copy and general Menu page styles */

.body__copy, .menu__div {
  align-items: center;
  padding: 30px 10%;
}

.body__copy p {
  margin-top: 20px;
}

/* Menu page styles */
.menu__div > h2, .menu__div > h1 {
  margin-top: 20px;
}
.menu__div > h2 {
  color:rgba(201, 168, 20, 1);
}
.menu__div > p {
  margin-top: 1rem;
}

.menu__div > img {
  width: 100%;
}